.player-control {
  width: 45vw !important;
  height: auto !important;
  position: absolute;
  top: 0px;
  left: 0px;
}
.player-control-middle {
  display: flex;
  width: 30vw;
  height: 10vw;
  margin-top: 25vw;
  margin-left: 20vw;
}
.player-control-end {
  width: 100vw;
  height: 10vw;
  margin-top: 18vw;
}
.player-control-end-timer {
  color: #fefefe;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.player-control-end-timer-full-screen {
  display: flex;
  align-items: center;
}
@media only screen and (max-width: 1050px) {
  .player-control {
    width: 60vw !important;
    height: 45vw !important;
  }
}

@media only screen and (max-width: 800px) {
  .player-control {
    width: 90vw !important;
    height: 60vw !important;
  }
}
@media only screen and (max-width: 700px) {
  .player-control {
    width: 90vw !important;
    height: 60vw !important;
  }
}
@media only screen and (max-width: 520px) {
  .player-control {
    width: 90vw !important;
    height: 60vw !important;
  }
}

@media only screen and (max-width: 490px) {
  .player-control {
    width: 100vw !important;
    height: 67vw !important;
  }
}
@media only screen and (max-width: 375px) {
}
