.nav-side {
  margin: 17vh 10vw;
  display: flex;
  flex-direction: column;
  background-color: #303036;
  width: 180px;
  height: 60vh;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
  border-radius: 5px;
}

.nav-side div {
  width: 150px;
  padding: 15px;
}
.nav-side div:hover {
  background-color: rgb(34, 34, 34);
}
.nav-side div a {
  color: #fefefe;
  font-weight: bold;
}
@media only screen and (max-width: 1050px) {
  .nav-side {
    margin: 17vh 5vw;
  }
}
@media only screen and (max-width: 800px) {
  .nav-side {
    display: none;
  }
}
