.post {
  margin: 20px;
  background-color: rgb(255, 255, 255);
  width: 40vw;
  padding: 2vh;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  transition: 0.25s;
}
.post:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}
.post img {
  float: left;
  margin-right: 20px;
  margin-bottom: 20px;
}
.post h2 {
  margin-top: 10px;
  font-size: 18px;
}
.post-para {
  margin-top: 10px;
  opacity: 0.7;
}
@media only screen and (max-width: 1050px) {
  .post {
    margin: 20px auto;
    width: 60vw;
  }
}

@media only screen and (max-width: 800px) {
  .post {
    margin: 20px auto;
    width: 80vw;
  }
}
@media only screen and (max-width: 500px) {
  .post {
    margin: 20px auto;
    width: 90vw;
  }
  .post img {
    width: 90vw;
    height: 70vw;
    margin-bottom: 20px;
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
  }
}
