.nav-top {
  background: #fefefe;
  position: fixed;
  z-index: 1000;
}

.nav-top-bar {
  height: 10vh;
  width: 100vw;
  background-color: #fefefe;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
  display: flex;
  margin: 0px;
  position: absolute;
}

.nav-top-logo {
  margin: auto;
  z-index: 1000;
  display: flex;
  align-items: center;
}
.nav-top a {
  color: #303036;
  font-size: 22px;
  font-weight: bold;
  padding: 5px;
}

.nav-top-burger-icon {
  display: none;
}

/* .nav-top-side-bar {
  position: absolute;
} */
@media only screen and (max-width: 800px) {
  .nav-top-burger-icon {
    display: block;
    margin: auto 30px;
  }
  .nav-top-bar {
    justify-content: space-between;
  }
  .nav-top-logo {
    margin-right: 45px;
  }
}
@media only screen and (max-width: 500px) {
  .nav-top a {
    font-size: 20px;
    font-weight: 900;
  }
  .nav-top-logo {
    margin-right: 3vw;
  }
}
