.nav-top {
  position: fixed;
}

.nav-top-bar {
  height: 70px;
  width: 100vw;
  background-color: #000;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
  display: flex;
  margin: 0px;
  position: absolute;
}

.nav-top-logo {
  margin: auto;
}
.nav-top a {
  color: rgba(255, 255, 255, 0.933);
  font-size: 22px;
  font-weight: bold;
  padding: 5px;
}
.nav-top a:hover {
  color: rgba(236, 236, 236, 0.933);
}

.nav-top-burger-icon {
  display: none;
}

/* .nav-top-side-bar {
  position: absolute;
} */
@media only screen and (max-width: 800px) {
  .nav-top-burger-icon {
    display: block;
    margin: auto 30px;
  }
  .nav-top-bar {
    justify-content: space-between;
  }
  .nav-top-logo {
    margin-right: 45px;
  }
}
@media only screen and (max-width: 500px) {
  .nav-top a {
    font-size: 20px;
  }
  .nav-top-logo {
    margin-right: 35px;
  }
}
