.nav-top-side {
  display: none;
}
.nav-top-side div a {
  display: none;
}
@media only screen and (max-width: 800px) {
  .nav-top-side {
    display: flex;
    position: relative;
    top: 20px;
    left: 0px;
    flex-direction: column;
    background-color: black;
    width: 220px;
    height: 80vh;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    z-index: 1;
  }
  .nav-top-side div {
    width: 150px;
    padding: 14px;
  }
  .nav-top-side div:hover {
    background-color: rgb(34, 34, 34);
  }
  .nav-top-side div a {
    display: block;
    color: #fefefe;
    font-weight: 450;
    font-size: 18px;
  }
}
