.button {
  width: 100px;
  height: 38px;
  display: block;
  border: 1px solid #303036;
  margin: 5px auto;
  text-decoration: none;
  background: #303036;
  color: #fefefe;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  cursor: pointer;
  text-align: center;
  font-weight: bold;
  padding: 5px;
  border-radius: 4px;
}

.button:hover {
  background-color: #fefefe;
  color: #303036;
}

.button:disabled {
  opacity: 0.5;
}
